/* tablet mode */
@media (max-width: 1080px) {
	.menu-icon.hide{
		display: block;
	}

	.navigation-item,
	.left-bar{
		display: none;
	}

	.right-bar a{
		padding: 5px 10px;
		font-size: 15px;
	}

	.nav-logo-icon{
		display: block;
		width: 32px;
	}

	.main-banner h1{
		font-size: 60px;
		line-height: normal;
	}

	.main-banner p{
		font-size: 38px;
	}

	.main-banner input{
		margin-top: 37px;
	}

	.service{
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: center;
		text-align: center;
		row-gap: 85px;
	}

	.box{
		padding: 185px 5px;
	}

	.sec-banner{
		flex-direction:column-reverse;
		flex-wrap: wrap;
		align-content: center;
		text-align: center;
	}

	.sb-left h1{
		font-size: 45px;
		line-height: 3.5rem;
	}

	.sb-left p{
		margin: auto;
		font-size: 15px;
		padding-top: 10px;
	}

	.mockup-rect{
		width: 140px; height: 200px;
	}

	#circle-check{
		width: 20%;
	}

	.os-banner-text{
		font-size: 70px;
		max-width: 850px;
		padding: 0 20px;
	}

	.go-to.second{
		font-size: 25px;
	}

	#author{
		border-radius: 38%;
		height: 300px;
		width: 230px;
	}

	.author-name{
		font-size: 28px;
	}
	.quo-text{
		font-size: 28px;
	}

	.container{
		padding-left:  50px;
		padding-right: 50px;
	}

	@media (max-width: 860px) {

		.main-footer{
			flex-direction: column;
			row-gap: 50px;
		}

		.main-banner h1{
			font-size: 35px;
			line-height: normal;
			letter-spacing: normal;
		}
		.main-banner p{
			font-size: 20px;
			line-height: normal;
		}
		.bottom-navigation a{
			font-size: 15px;
			line-height: normal;
		}
		.title-box h1{
			font-size: 35px;
			line-height: normal;
		}
		.box{
			padding: 152px 5px;
			max-width: 278px;
		}
		.box img{
			top: -73px;
			max-width: 97px;
		}
		.box h3{
			font-size: 25px;
			line-height: normal;
		}
		.sv-content h3{
			font-size: 35px;
			margin-bottom: 13px;
			line-height: normal;
		}
		.legal-logo{
			width: 130px;
		}
		.sb-left h1{
			font-size: 30px;
			padding-top: 3rem;
			line-height: normal;
		}
		.os-banner-text{
			font-size: 45px;
			line-height: normal;
		}
		.go-to.second{
			font-size: 20px;
		}
		.title-box.right{
			padding: 0;
			float: none;
		}
		.st-content p, .address{
			font-size: 15px;
			line-height: normal;
		}
		.st-content h3{
			font-size: 20px;
			line-height: normal;
		}
		#author{
			height: 210px;
			width: 170px;
		}
		.author-name{
			font-size: 20px;
			line-height: normal;
		}
		.label-author{
			font-size: 15px;
			line-height: normal;
		}
		.quo-text{
			font-size: 20px;
			line-height: normal;
		}
	}
}

/* mobile mode */
@media (max-width: 529px) {
	.top-wrapper{
		padding-bottom: 20px;
		box-shadow: 0 1px 10px 1px rgba(0,0,0, 0.1);
	}
	.container{
		padding-left: 15px;
		padding-right: 15px;
	}
	.main-banner{
		padding-bottom: 0;
	}
	.main-banner input{
		width: 100%;
		text-align: center;
	}
	.main-banner input::placeholder{
		text-align: center;
		font-size: 1rem;
	}
	.main-banner button{
		margin: auto;
		width: 100%;
		display: block;
		margin-top: 5px;
		font-size: 1rem;
	}
	.link-box{
		font-size: 12px;
		text-align: center;
	}
	.link-box a{
		padding: 0 10px;
		text-align: center;
	}
	.sticky{
		visibility: hidden;
		display: none;
	}
	.title-box h1{
		padding-top: 10px;
		font-size: 23px;
	}
	.title-box p,
	.sv-content p, 
	.sb-left p, .address,
	.st-content p, .label-author{
		font-size: 12px;
		line-height: normal;
	}
	.box{
		padding: 87px 0;
		width: 150px;
		border-radius: 34px;
	}
	.box img{
		top: -37px;
    	max-width: 53px;
	}
	.box h3{
		font-size: 1rem;
	}
	.service{
		padding-top: 100px;
		row-gap: 36px;
	}
	.sv-content h3{
		font-size: 25px;
	}
	.bg-banner{
		margin-top: 55px;
		border-top-left-radius: 34px;
   		border-top-right-radius: 34px;
	}
	.sb-left h1{
		font-size: 20px;
    	padding-top: 2rem;
	}
	.go-to, .go-to.second,
	.quo-text{
		font-size: 15px;
	}
	.os-banner-text{
		font-size: 25px;
		margin-top: 55px;
		margin-bottom: 10px;
	}
	.slide-container.container{
		padding: 0;
	}
	.st-content h3,
	.author-name{
		font-size: 18px;
	}
	footer{
		margin-top: 191px;
	}
	.left-footer{
		width: 120px;
	}
	.main-footer{
		justify-content: center;
		align-items: center;
		font-size: 15px;
	}
	.right-footer{
		flex-direction: column;
		justify-content: center;
		align-items: center;
		row-gap: 30px;
	}
	.footer-footer{
		flex-direction: column-reverse;
		font-size: 15px;
		row-gap: 30px;
	}
	.icon-footer{
		font-size: 25px;
	}
}